<div class="container movie--list">
  <%= image_tag("https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/left_blue_blob_nh1ywj.svg", class: "grey--blob") %>

  <%= image_tag("https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/right_gold_blob_wvfixj.svg", class: "gold--blob") %>

  <%= image_tag("https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/light_yellow_blob_cy3wrj.svg", class: "yellow--blob_movie_index") %>

  <%= image_tag("https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/left_orange_blob_ffqzsn.svg", class: "orange--blob_movie_index") %>



  <h1 class="text-center mb-6 fw-bolder display-3  mt-2">Movies</h1>

  <div data-controller="search-movies">

    <%= form_with url: movies_path, method: :get, html: {class:
    "px-6 mx-auto", data: {search_movies_target: "form"}} do |f| %>
      <div class="input-group input-group-lg">
        <%= f.text_field :query,
          class: "form-control",
          placeholder: "Type a movie title",
          value: params[:query],
          data: {search_movies_target: "input",
          action: "keyup->search-movies#update"} %>
        <% end %>
      </div>


      <%= render 'movies/list', movies: @movies %>



  </div>

  <%= link_to root_path do  %>
      <%= image_tag("https://res.cloudinary.com/rent-an-instrument/image/upload/v1640900738/dark_round_button_sjfwws.png", class: "movie--button my-6") %>
  <% end %>
</div>
