<div class="movie--container_show">
  <div class="container-fluid d-flex justify-content-center align-items-start p-0 my-3">

    <img src=<%= @movie.poster_url %> alt="" class="movie--image_movie_show">

    <div class="movie_show--info py-1 px-6">
      <h1 class="fw-bold display-6 lh-1 mt-7">
        <%= @movie.title %>
      </h1>


        <p class="fw-light my-5 fst-italic">
          <%= @movie.tagline %>
        </p>


      <p class="lh-lg">
        <%= @movie.overview  %>
      </p>
    </div>
  </div>

</div>



<div class="container" data-controller="insert-in-list">

  <h2 class="text-center review-title my-5">Write a review</h2>

  <div class="my-6 review-box p-4 w-75 mx-auto">


    <%= render 'reviews/form', movie: @movie, review: @review %>

  </div>


  <div class="w-75 mx-auto" data-insert-in-list-target="items">

    <% if @movie.reviews.blank? %>
      <p>Be the first to leave a review for <strong><%= @movie.title %></strong></p>
    <% else %>
      <% @movie.reviews.each do |review| %>
        <%= render 'review', review: review %>
      <% end %>
    <% end %>
  </div>

</div>



<div class="container p-3">
   <%= link_to movies_path do  %>
    <%= image_tag("https://res.cloudinary.com/rent-an-instrument/image/upload/v1640900738/dark_round_button_sjfwws.png", class: "movie--show-btn my-6") %>
   <% end %>
</div>
