<div class="movie--container_show">
  <div class="container-fluid d-flex justify-content-center align-items-start p-0 my-3">

    <img src=<%= @movie.poster_url %> alt="" class="movie--image_movie_show">

    <div class="movie_show--info py-1 px-6">
      <h1 class="fw-bold display-5 lh-1 mt-7">
        <%= @movie.title %>
      </h1>


        <p class="fw-light my-5 fst-italic">
          <%= @movie.tagline %>
        </p>


      <p class="lh-lg">
        <%= @movie.overview  %>
      </p>
    </div>
  </div>

</div>

  <h2 class="text-center review-title mt-5">Write a review</h2>

<div class="container my-6 review-box p-4 w-75">

  <%= simple_form_for ([@movie, @review]) do |f| %>
    <%= f.input :content, label: "Share your two cents with us:", label_html: { class: 'review-label' }, input_html: { class: 'review-input' } %>
    <%= f.button :submit, class: 'dark_green-btn' %>
  <% end %>
</div>

<div class="container review-list p-1 w-75">
  <% @movie.reviews.each do |element| %>
  <p class="review-list-para"><%= element.content %></p>
  <% end %>
</div>

<div class="container p-3">
   <%= link_to movies_path do  %>
    <%= image_tag("https://res.cloudinary.com/rent-an-instrument/image/upload/v1640900738/dark_round_button_sjfwws.png", class: "movie--show-btn my-6") %>
   <% end %>
</div>
