<div class="container-fluid">
  <div class="nav">
    <%= image_tag("https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/green_blob_vvhgnr.svg", class: 'navbar--blob') %>

    <%= image_tag("https://res.cloudinary.com/rent-an-instrument/image/upload/v1640900738/sandwich_menu_ey8bcv.svg", class: "navbar--sandwich") %>

    <ul class="list--inline">
      <li class="list--item"><%= link_to "Movies", movies_path, class: "list--link"  %></li>
      <li class="list--item"><%= link_to 'Blog', blogs_path, class: "list--link"  %></li>
      <li class="list--item"><%= link_to "Lists", lists_path, class: "list--link"  %></li>
    </ul>
  </div>
</div>
